body {
  color:#000;
  background-color:#eee;
}

a,a:hover,.highlight,a:visited {
    color:#0097a8 ; 
    text-decoration: none;    
}
.highlight-bk,.navbar{
    background-color:#0097a8;  
}
h3.highlight,.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    border-color: #0097a8;
}
.navbar-nav > li:last-child > a,.navbar-nav > li > a{
    border-color: #008797;
}
